@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat&display=swap');

body{
    font-family: "Montserrat";
}

header,#main h4,#inp,#btn,#table{
    display: flex;
    justify-content: center;
    
    
    
}
#main h4{
    font-size:22px
}

header{
    padding-top: 4em;
    font-size: 3rem;
    color: blueviolet;
}

#inp input{
    border-radius: 0.4em;
    width: 300px;
    height: 50px;

}

#btn button{
    font-size: 22px;
    margin-top: 2em;
    width: 100px;
}
    
#main table{
    border: 0.1cm solid blueviolet;
    padding-left: 3;
}

#main table th{
    font-size: 22px;
    border: 0.1cm solid blueviolet;
    padding: 0.5em;
}
#main table td{
    border: 0.1cm solid blueviolet;
    font-size: 22px;
    padding:1em;
}
footer{
    font-size: 20px;
}

.message{
    font-size: 22px;
    text-align: center;
    margin: 3em;
}


/*styling for footer*/

.footer{
    margin: 20rem 4rem 4rem 4rem
}

.footer-elements{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.footer h1{
    font-size: 25px;
}
.footer h3{
    font-size: 15px;
}

/*styling for logos*/

.logo-div{
    display: flex;
}
.logo-img{
    width: 20px;
    padding-left: 10px
}